body {
    overflow: hidden;
}

.vids {
    display: grid;
}

.vids.mini {
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.vids.large {
    grid-template-columns: 100%;
    grid-gap: 0rem;
    width: 90%;
}

.miniplayer {
    display: block;
}

.picButton {
    display: inline;
}

.btn.custom {
    font-size: 2.5rem;
    width: calc(100% - 85px);
    height: 80px;
    margin-bottom: 10px;
}

.pic {
    background-position: center;
    background-size: 100% 100%;
}

.pic.tiny {
    width:80px;
    height: 80px;
    background-image: url("../media/rotations/11.png");
}

.pic.large {
    width:100%;
}

.pic.overlay {
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    z-index: -1;
}

.prayer.overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(30% - 30px);
    z-index: -1;
}

#imageContainer {
    position: relative;
}

.vid {
    object-fit: fill;
}

.topDealio {
    text-align: center;
    background: #FFFFFF;
    padding: 10px;
}

.appWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}