body {
  min-width: 1080px;
}

.main-header {
  width: max-content;
  margin: auto;
  display: grid;
  grid-template-columns: max-content;
  height: max-content;
  margin-top: 1rem;
  align-items: end;
  align-content: end;
  font-size: 1.25rem;
  z-index: 1;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.main-header::before {
  content: "";
  width: calc(100vw - 120px);
  height: 0px;
  border: 1px solid rgb(108, 108, 108);
  border-left: none;
  border-right: none;
  border-top: none;
  position: absolute;
  left: 60px;
  top: 32px;
  z-index: -1;
}

.author {
  margin: auto;
  width: 100vw;
  text-align: center;
}

.main {
  width: max-content;
  display: grid;
  grid-template-columns: max-content max-content;
  margin: 20px auto;
  position: relative;
}

#controls-area {
  width: max-content;
  height: min-content;
  min-height: 6ch;
  height: 600px;
  margin: 0px 10px 0px 10px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: max-content;
  gap: 2px;
  justify-content: center;
  align-content: start;
  background-color: rgb(92, 92, 92);
  color: cyan;
  box-shadow: 0px 0px 1px 1px lightslategrey;
  border: 1px solid grey;
  border-radius: 2px;
}

h4 {
  margin: 0px 0px 10px 0px;
  padding: 5px 0px 5px 20px;
  font-size: 1.25rem;
}

.slider-div {
  display: grid;
  grid-template-columns: 120px 140px 4ch;
  align-items: center;
  align-content: center;
  margin: 5px 10px;
  padding: 2px 0px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 1px solid grey;
}

#pan-y {
  transform: rotate(90deg);
}

.slider-label, .slider-value {
  display: inline;
  margin: 5px 5px 5px 8px;
}

.slider-label {
  text-align: right;
}

#graphics-area {
  width: min-content;
  margin: auto;
  z-index: 0;
}

canvas {
  box-shadow: 0px 0px 2px 1px lightslategrey;
  position: relative;
  z-index: 0;
}

#graphics-area::before {
  content: "";
  height: 0px;
  width: 20px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  position: absolute;
  left: 300px;
  top: 300px;
  z-index: 1;
  transform: translateX(-49%);
}

#graphics-area::after {
  content: "";
  height: 20px;
  width: 0px;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  border-bottom: none;
  position: absolute;
  left: 300px;
  top: 300px;
  z-index: 1;
  transform: translateY(-50%);
}

.vertical {
  min-height: 160px;
}

.zoom-label {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.zoom-label.left {
  margin-left: 1rem;
  margin-right: 0.25rem;
}

.buttons-wrapper {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-top: 0.5rem;
  grid-template-columns: max-content max-content;
  margin-bottom: 1rem;
}

.buttons-wrapper>.btn {
  width: 7.5rem !important;
  /* border: 1px solid black; */
  border-radius: 8px;
  box-shadow: 0px 0px 1px 1px white;
  height: min-content;
}

#demo-button, #demo-button-2, #about-button {
  width: max-content;
}

#reset-button {
  background-color: rgb(255, 126, 79);
  transition: background-color 0.25s;
}

#reset-button:hover {
  background-color: rgb(235, 106, 59);;
}

#demo-button, #demo-button-2 {
  display: grid;
  grid-template-columns: max-content max-content;
}

.play-icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  transform: rotate(90deg) translateX(3px);
}

#x-axis-label-div {
  position: absolute;
  height: 6px;
  width: 600px;
  top: 610px;
  text-align: center;
  border: 1px solid black;
  border-top: none;
}

#y-axis-label-div {
  position: absolute;
  width: 600px;
  height: 6px;
  transform: rotate(270deg);
  top: calc(50% - 6px);
  left: -310px;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
}

#x-axis-label-div>.label {
  transform: translateY(2ch);
}

#y-axis-label-div>.label {
  transform: translateY(-3.5ch);
}

#wiki-iframe {
  width: 100%;
  height: 2000px;
}